.masthead {
  img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 60%; 
    width: 100px;
    height: 100px;
    margin: auto; 
    
  }
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background:rgb(243, 193, 78);
  
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }
}
